# Agenda:

1. tuple introduction

2. tuple object

3. indexing

4. Accessing tuple elements

5. built-in methods

6. concatenation and repetition operator

7. comparison operator

8. tuple object methods

9. Slicing Operator

10. user input

## what is tuple ?

1. tuple is a class (class has variables and functions)

2. tuple is iterable

3. tuple is immutable (can not change)

4. tuple is hashable (return a number )

5. tuple is a sequence (position matter)

# How to create tuple object?

In [ ]:
l1 = [10,20,30,40] # first we creat list using [ ]

type (l1)

list

In [ ]:
t1 = (12, 45, 67, 56, 67) # tuple will create using ( )
type(t1)

tuple

In [ ]:
t1 = () # empty
type(t1)
t1

()

In [ ]:
t1 = (10) # not a tuple object it is a int type object

type (t1)

int

In [ ]:
# how we can make single vlaue as a tuple
# use a comma, after single value
t1 = (10,)

type (t1)

tuple

In [ ]:
# same case in a list

l1 = [10] # it is a list having single value

type (l1)

list

In [ ]:
t1 = 2,3,4 # with out ( ) it is also a tuple but in list this is not happen
type(t1)

tuple

# indexing in a tuple

1. same +ve and -ve indexing in a tuple for vlaues.

In [ ]:
t1 = (10, 45, 60)
print(t1[-1])  # Output will be 60

60

# slicing operator in a tuple:

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
t1[2:8:2] # will return another tuple of values
t1 #but no changes in t1

(15, 55, 45, 60, 45, 33, 12, 20, 56)

# Accessing tuple elements

In [ ]:
t1 = (10, 34, 20 , 25)

t1[0]
print(t1[2])

20

## using while loop with condition based.

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)

i = 0

while (i<len(t1)):

  print(t1[i],)

  i+=1

15
55
45
60
45
33
12
20
56

## using for loop

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)

for a in t1:

  print(a)

15
55
45
60
45
33
12
20
56

## Note: when we need to use while and for loop?

Ans: when we want to print elements on a specific condion true then we use while loop.

and when we want to print all elements then we use for loop in python.

# built in methods

len ( )

min ( )

max ( )

sum ( )

sorted ( )

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
len(t1)

9

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
max(t1)

60

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
min(t1)

12

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
sum(t1)

341

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
sorted(t1) #return new list and the actual tuple t1 will reamin same

[12, 15, 20, 33, 45, 45, 55, 56, 60]

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)
sorted(t1) #return new list and the actual tuple t1 will reamin same
t1

(15, 55, 45, 60, 45, 33, 12, 20, 56)

In [ ]:
t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)

sorted(t1,reverse=True) # will print values in a recerse order

[60, 56, 55, 45, 45, 33, 20, 15, 12]

# Concatenation and Repetition Operator

In [ ]:
t1 = (10, 30)

t2= (11, 22, 33)

t1 + t2 # will concatenate the two tuples

(10, 30, 11, 22, 33)

In [ ]:
t1 = (10, 30)


t1 * 3 # will repeat the values 3 times

(10, 30, 10, 30, 10, 30)

# Comparison Operator

1. same work like in a list.

2. will compare 1st element with 1st element

In [ ]:
t1 = (10, 30)

t2= (11, 22, 33)

t1 > t2

False

In [ ]:
t1 = (10, 30)

t2= (11, 22, 33)

t1 == t2

False

# tuple objects methods:

### index ( )

### count ( )

1. as we know in a tuple we can not do changes

so there is no any method like append ( ) and insert ( )etc.

In [ ]:

t1 = (15, 55, 45, 60, 45, 33, 12, 20, 56)

t1.index(55) # we need to pass a vlaue

1

In [ ]:

t1 = (15, 55, 55,66, 45, 60, 45, 33, 12, 20, 56)

t1.count(55) # we need to pass a vlaue

2

In [ ]:

t1 = (15, 55, 55,66, 45, 60, 45, 33, 12, 20, 56)

del t1(0) #we can do it on a list because tuple is a immutable not changeable

SyntaxError: cannot delete function call (<ipython-input-45-99c3f5e93fcd>, line 3)

# slicing operator in tuple

Syntax:

t1 [beg : end : step ]

Reverse a Tuple:

t1 [: : -1 ]

# How to input a tuple from user ?

### Note: in tuple we can not pass non i terable values, like 5.6.

In [ ]:
t1 = tuple ([int(e) for e in input().split(',')])

t1

6,7,8,9,0

(6, 7, 8, 9, 0)

In [ ]:
t1 = tuple ()

t1

()

In [ ]:
t2 = tuple ([1,23,4])
t2

(1, 23, 4)

In [ ]:
t3 = tuple (range(6))

t3

(0, 1, 2, 3, 4, 5)

In [ ]:
# here we are changes the tuple vlaues these values are hetrogenous

# but question is that how ? because tuple is immutable !

# Ans:

# because we have a list in tuple that is why we can change, delete, elements
# od the list . not delete the whole list from a tuple.

t4 = (45, True , 5.6 , 5-6j, "python", [5,5])

t4[3]

t4[-1][1] = 55

t4

del t4[-1]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t4 = (45, True , 5.6 , 5-6j, "python", [5,55])

del t4[-1][0] # delete from most rigth-end 5 element

t4

(45, True, 5.6, (5-6j), 'python', [55])