# Agenda:

1. dict introduction

2. creating dict object

3. Accessing dict elements

4. built-in methods

5. concatenation and repetition

6. comparison operator

7. dict object methods

8. dict comprehension

# what is dict ?

### one dict element is (key , data)

dict is a class

dict is mutable

dict is not hashable

dict is iterable

dict is not a sequence

dict not have duplicate keys(not data values)

indexing is not applicable to dict object

slicing operator is not applicable

dict elements are pair of key-value and data-value.

it store associative data

# How to create dict object ?


       Roll-no          Student-name
       
       102                "Ali"

       105                "Usman"

       106                "sam"

       107                "Suleman"


each roll no is associated with a student name.

so this is associated data.

In [1]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'} #it will create one dictionary

d1

{102: 'Ali', 105: 'Usman', 106: 'sam', 107: 'Suleman'}

## empty dict object

In [2]:
d1 = { }

d1

{}

# Another method to create dict

but here we use dict( )

also here we can not use :

In [4]:
d1 = dict(a=10 , b=20 , c= 30) # key value argument keys will str type and other are data values

d1
# we can not write any constant at left side we need a variable
#keys will be hetrogenous type.

{'a': 10, 'b': 20, 'c': 30}

# Accsssing dict elements

In [5]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

print(d1)

{102: 'Ali', 105: 'Usman', 106: 'sam', 107: 'Suleman'}

# Accessing elemnts with the help of key.

In [6]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

d1[105]

'Usman'

In [7]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

d1[102]

'Ali'

In [8]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

d1[107]

'Suleman'

In [9]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

d1[100] # errro no key available

KeyError: 100

In [10]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

for k in d1: # just keys one by one add

  print(k) # just key values will print

102
105
106
107

In [11]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

for k in d1: # just keys one by one add

  print(k,d1[k]) # keys and data values will print

102 Ali
105 Usman
106 sam
107 Suleman

# How to edit dict elements ?

Editing disct elements means you want to change data_values of the element and not the key-value.

Syntax:

dictObject [ key-value ] = new datavalue

del d1 [ 102 ]

#Note:  

if key-value is exists then data will edit otherwise new element will create with new value.

In [15]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

del d1[102]

d1

{105: 'Usman', 106: 'sam', 107: 'Suleman'}

In [17]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

d1[102] = 'Python COURSE'

d1

{102: 'Python COURSE', 105: 'Usman', 106: 'sam', 107: 'Suleman'}

In [21]:
d1 = {102:'Ali',105:'Usman',106:'sam',107:'Suleman'}

del d1[105]

d1

{102: 'Ali', 106: 'sam', 107: 'Suleman'}

In [23]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1[104] = 'Usman' #key value should be new in this we can insert data vlaues

d1

{102: 'Ali', 106: 'sam', 107: 'Suleman', 104: 'Usman'}

# methods in dictionary

1. items ( ) ---> collection dict elements

2. keys ( )  ---> collection of keys only of the elements

3. values ( ) ---> collection of data-values only of the dict elements

All these methods are dict class attributes.

In [26]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.items() # key and data value ......series of tuple

#return list od tuple

dict_items([(102, 'Ali'), (106, 'sam'), (107, 'Suleman')])

In [28]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.keys()

dict_keys([102, 106, 107])

In [29]:

d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.values() # return dict vlaues obj

dict_values(['Ali', 'sam', 'Suleman'])

In [30]:
for v in d1.values():

  print (v)

Ali
sam
Suleman

In [31]:
for v in d1.keys():

  print (v)

102
106
107

In [32]:
for v in d1.items():

  print (v) # return in the from of tuple

(102, 'Ali')
(106, 'sam')
(107, 'Suleman')

In [33]:
for k,v in d1.items(): #unpacked

   print(k,v)

102 Ali
106 sam
107 Suleman

# built-in methods in dict:

len ( )

min ( )

max ( )

sum ( )

sorted ( )

In [34]:

d1 = {102:'Ali',106:'sam',107:'Suleman'}

max(d1)

107

In [35]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

min(d1)

102

In [36]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

sum(d1) # sum of keys

315

In [38]:
d1 = {102:'Ali',111:'sam',107:'Suleman'}

sorted(d1) # sorting of keys

[102, 107, 111]

# Concatenation and Repetition Operator

dict + dict # not applicable

dict * ont # not applicable

# Comparison Operator in dict:

The inequality operators are not supported in dict.

d1 > d2

d1 >= d2

d1 < d2

d1 <= d2

#equality Supported

d1 == d2

d1 != d2

# Note:

Two dict objects are equal if thier items are equal.

Elements can be sorted in any order.

# dict object methods


pop (key) # data delete

pop item ( )

clear ( )

In [39]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.pop(106)

'sam'

In [40]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.popitem() #will remove last key value pair

(107, 'Suleman')

In [43]:
d1 = {102:'Ali',106:'sam',107:'Suleman'}

d1.clear() # all items will be removed

d1

{}

# dict comprehension

Syntax:

d1 = { key-expression:  data-expression for v in seq }

In [45]:
d3 = {x:x**2 for x in range(1,6)}

d3

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}