# Agenda:

1. set introduction
& accessing set elements
2. creating set objects

3. built-in-methods

4. concatenation and repetition operator

5. comparison operator

6. set pbject method

7. set comprehension

8. user input

9. frozen set elements

## What is set ? (unique) like in Math's.

set is a class.

set is mutable

set is not hashable

set is not sequence

set cannot have duplicate values

indexing is not applicable to set object

slicing operator is not applicable

set does not guarentee to store values in the order of insertion.

# How to create set object ?

In [ ]:
s1 = {10,20,30,40} # no gurantee of sequence may be order or not in order

type(s1)

s1

{10, 20, 30, 40}

# No duplicate values in set

In [ ]:
s1 = {10,20,20,10,10,20,30,40} # values are repeated but no error

s1

# set simply discard duplicate values

{10, 20, 30, 40}

# empty set object

In [ ]:
s1 = {} # not a empty set object but it is a dict.

type(s1)

dict

# How we can create a empty set object ?

In [ ]:
s1 = set()

s1

set()

In [ ]:
s1 = set(10,20,30) # only take 1 arguemnt not 3
s1

TypeError: set expected at most 1 argument, got 3

In [ ]:
s1 = set(10) # again error and think why ?

s1

TypeError: 'int' object is not iterable

error is occued due to the just int value it is not
an iterable the one arguemnt should be a iterable type.

In [ ]:
s1= set([11, 44, 56])

s1

{11, 44, 56}

In [ ]:
s1 = set('MuhammdSuleman')

s1

{'M', 'S', 'a', 'd', 'e', 'h', 'l', 'm', 'n', 'u'}

# Accessing set elements:

Syntax:

for e in setObject:

     code

     code

In [ ]:
s2 =  {34, 5,6,53,44,44,67,7,8}
# print(s2)
for e in s2:
  print(e,  end = ' ')

34 67 5 6 7 8 44 53

## Note:

why we are not using while loop in set to access the elements ? think and find the solution!

# built-in-methods

len ( )

min ( )

max ( )

sum ( )

sorted ( )

In [ ]:
s2 =  {34, 5,6,53,44,44,67,7,8}

len(s2)

8

In [ ]:
s2 =  {34, 5,6,53,44,44,67,7,8}
max(s2)

67

In [ ]:
s2 =  {34, 5,6,53,44,44,67,7,8}
min(s2)

5

In [ ]:
s2 =  {34, 5,6,53,44,44,67,7,8}
sorted(s2) #what sorted function do ? think and find the answer might be you are weong!

[5, 6, 7, 8, 34, 44, 53, 67]

In [ ]:
s1 = {3, 4.5 ,True, }

s1 = {3+5j, (1,2), 'abc', [10,20,30], range(4)}

s1

# elements of set object must be hashable list is not hashable thats why error.

TypeError: unhashable type: 'list'

In [ ]:
s1 = {{1,3},{4,5}}

s1 # error due to the set is not hashable

TypeError: unhashable type: 'set'

# Concatenation and Repetition Operator

1. set + set # not supported

2. set * int # not supported


## But Why ?

In Python:

Set + Set is not supported because sets are unordered collections and do not allow duplicates, so concatenation doesn't make sense.

Set * int is not supported because repetition works with ordered sequences like lists or strings, not sets, which have unique unordered elements.

# Comparison Operator

comparison operator is supported in set:

s1 > s2

s1 < s2

s1 < = s2


s1 > = s2

s1 == s2

s1 !== s2


### Note:

two set objectts are equal id thier elements are same, does not matter the order elements.

In [ ]:
s1 = {1,2,3}
s2 = {1,2,3}

s1 == s2

True

In [ ]:
s3 = {5, 4} #its first element is bigger

s1 = {1,2, 3}

s1>s3

False

# Set Object Methods: important

add ( ) # add specified item in a set

update ( ) # add iterables elements

discard ( ) # remove item

remove ( )

intersection ( )

union ( )

clear ( )

issubset ( )

is superset ( )

pop ( )

### in set no concept of indexing but due to these methods lik with the help of add( ) we can add elements in a set basically we can not indivially access elements from a set and 2nd set is mutable  we can do changes!

but how we can insert , edit and delete will do?

##think!

how we can not delete a element with a del ?

##think!

As we are sying set is a mutable!

and also we can surely say we can inser, edit and delete the elements from the set.

but yes with the help of del we can not delete a element from the set this is due to indexing is not available in set.

In [ ]:
s1 = {1, 3, 5}

s1.add(4) # position will any

s1

{1, 3, 4, 5}

In [ ]:
s1 = {1, 3, 5}

s1.add(3) # not will add lready in a set

s1

{1, 3, 5}

## add str hashable

In [ ]:
s1 = {1, 3, 5}

s1.add('abc')

s1

{1, 3, 5, 'abc'}

## add tuple hashable

In [ ]:
s1 = {1, 3, 5}

s1.add((33,44,66)) # position will be any no sequence

s1

{(33, 44, 66), 1, 3, 5}

update ( )

Note:

we can only pass iterables in a update ( )

In [ ]:

s1 = {1, 3, 5}

s1.update(55)

s1

TypeError: 'int' object is not iterable

### There will be a question we can not add list in a set because it in unhashable ?


#### How here we are passing the list?

In [ ]:

s1 = {1, 3, 5}

s1.update([12,34,56,77])

s1

{1, 3, 5, 12, 34, 56, 77}

#### Yes it is because of as we are not adding the list wr just updating the set with update ( ).

## UPDATE ( )
update is not trying to add the list in a set it is doing to make list element part of set elements.

## in a set we can insert iterables and non- iterabels but we can not insert non hashable .

In [ ]:

s1 = {1, 3, 5}

s1.update((3,4), 'AA' , range(5,20,5),[12,34,56,77])

s1

{1, 10, 12, 15, 3, 34, 4, 5, 56, 77, 'A'}

# discard ( ) # remove item

In [ ]:
s1 = {1, 3, 5}

s1.discard(3)

s1

s1.discard("100") # no error if we pass any value

# remove ( )

In [ ]:
s1 = {1, 3, 5}

s1.remove(1)

s1

s1.remove(100) # it will gives the error will say 100 is not exists.

KeyError: 100

# union ( )

In [ ]:
s2 = {1,2,3}

s3 = {3, 4,5}

s2.union(s3) # elements are combined only unique will came and no repetition.

# and also return a new set no will be change in s2 and s3 both remain same.

{1, 2, 3, 4, 5}

# intersection ( )

In [ ]:
s2 = {1,2,3}

s3 = {3, 2, 4,5}

s2.intersection(s3) # return the common set of same vlaues by compareing bot sets.

{2, 3}

# clear ( )

In [ ]:


s3 = {3, 2, 4,5}

s3.clear() # will return empty set

s3

set()

# issubset ( )

In [ ]:


s3 = {3, 4,5}

s1 = {1,2,3,4,5,10 ,56,100}

s3.issubset(s1) # True yes s3 has all elements in s1 so s3 is subset of s1.

True

In [ ]:

s3 = {3, 4,5}

s1 = {1,2,3,4,5,10 ,56,100}

s1.issuperset(s3)

#yes True it is a reverse of subset here in
#s1 all same elements of s3 are available.

True

# pop ( )

In [ ]:
s1 = {1,2,3,4,5,10,56,100}

s1.pop()
s1

{2, 3, 4, 5, 10, 56, 100}

In [ ]:
s1.pop()
s1

{3, 4, 5, 10, 56, 100}

In [ ]:
s1.pop()
s1

{4, 5, 10, 56, 100}

In [ ]:
s1.pop()
s1

{5, 10, 56, 100}

# Set Comprehension

## Syntax:

S1 = { expression for e in object }

In [ ]:
s2 = {e**2 for e in range (1,6)} # it will make new set
s2

{1, 4, 9, 16, 25}

In [ ]:
s = input("Enter a string ")

s1 = {e for e in s if e in "aeiou"}

s1

Enter a string suleman

{'a', 'e', 'u'}

# user input in set

In [ ]:
s = input("Enter elements separated by comma ")

s1= {eval(e) for e in s.split(',')}

s1

Enter elements separated by comma 34,4.5, True, 4+5j

{(4+5j), 34, 4.5, True}

# eval function

The eval() function in Python:

It executes a string as a Python expression and returns the result.

It can evaluate mathematical expressions, variables, or functions.

Example:

x = 5
result = eval("x + 10")  # Output: 15

In [ ]:
eval ('5+6')

11

In [ ]:
eval ('5+6')

4.6

In [ ]:
eval ('abc')

NameError: name 'abc' is not defined

In [ ]:
eval ('1')

1

# frozen set

1. A set is a mutable object while frozen set provides on immutable implementation.

2. Other things are similar to set. in which no changes we can do.

In [ ]:
# want to edit the element but we can not edit it.

#this is only way.


# FIRST WE REMOVE THE value then add the new value
s1 = {1,2,3,4,5,10,56,100}

s1.remove(5)

s1

s1.add(11)

s1

{1, 2, 3, 4, 10, 11, 56, 100}