#Agenda
1. Variable Case sensitivity
2. Reserved words in Python
3. Multi assignment of variables
4. User input
5. type casting | type conversion
6. Memory Block
6. Operators
   - Logical
   - Equality
   - Comparion
   - Arthamatic
   - BitWise [Advance Topic]
   - Operators for sets and dictionary

In [ ]:
#Variables Case sensitivity
TEN = 10
ten = 20
#TEN and ten both are differ in terms of lowercase and uppercase letter

In [ ]:
print(Ten)

NameError: name 'Ten' is not defined

#Reserved words in python
1. we should not use reserved words as variable name
2. Also python does not restrict the user to use reserved keywords as a variables names

3. LINK: https://docs.python.org/2.5/ref/keywords.html

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = "Hi there" #as a variable
type(print)

str

In [ ]:
print("Hi there")

TypeError: 'str' object is not callable

In [ ]:
del print #delete the variable print

#del is also reserved word

In [ ]:
print("Hi there")

Hi there

In [ ]:
Print = "Hi there "#as a varibale
type(Print)

str

## Multi assignment of variables

In [ ]:
a, b, c, yes = 10, 20, "Suleman", True

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
type(c)

str

In [ ]:
type(yes)

bool

In [ ]:
a,b,c = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
type(a,b,c,yes) #only take one input
#type error

TypeError: type() takes 1 or 3 arguments

In [ ]:
type(a)
type(b)
type(c) #will give only one output

str

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print((type(yes)))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

#Case Sensitivity variables

In [ ]:
a,b,c = 10,20,45

In [ ]:
a, A, c, C = 10, 20.3, "Suleman", True

In [ ]:
print(a, A, c, C)

10 20.3 Suleman True

In [ ]:
a=b=c=10
a,b,c

(10, 10, 10)

#User Input & Type Conversion

1. we can convert the data type of one variable into another if allowed

In [ ]:
name = input("Enter your name: ")
print(f"You have enterted: {name}")

Enter your name: 4678
You have enterted: 4678

In [ ]:
# name = input("Enter your name: ")
# print(f"You have enterted: {name}")

A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")#it will not add the values but will treat as result in string
print(type(A), type(B))

Enter value of A: 4
Enter value of B: 8
Sum of A and B is: 48
<class 'str'> <class 'str'>

In [ ]:
#this is called type conversion
A = int(input("Enter value of A: "))#converted into integer
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 55
Enter value of B: 5
Sum of A and B is: 60

In [ ]:
print(type(A), type(B))

<class 'int'> <class 'int'>

In [ ]:
#String to integer | it is allowed
A = "50"
print(f"data type before: {type(A)}")
A = int(A)
print(f"data type after: {type(A)}")

data type before: <class 'str'>
data type after: <class 'int'>

In [ ]:
#String float to integer | it is not allowed | only string will be convert not float
A = "50.5" #entring float
print(f"data type before: {type(A)}")
A = int(A) #trying to convert it into integer
print(f"data type after: {type(A)}")

data type before: <class 'str'>

ValueError: invalid literal for int() with base 10: '50.5'

In [ ]:
# float to integer allowed
A = 50.5 #entring float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'float'>, value of A: 50.5
data type after: <class 'int'>, value of B: 50

In [ ]:
#INTEGER TO FLOAT
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of B: 50.0

> Note: Converting any non zero number and string values into boolean will give True as an answer.

> Note: Empty string will give Flase as an answer after converting from string to boolean.

In [ ]:
#integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of B: True

In [ ]:
#integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of B: False

In [ ]:
A = -5 # 0 will give only false to us
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of B: True

In [ ]:
A = "Suleman" #most of integer will give you true
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'str'>, value of A: Suleman
data type after: <class 'bool'>, value of B: True

In [ ]:
A = "False" #treating as an string | avoid it
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of B: True

In [ ]:
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of B: True

In [ ]:
A = " " #empty string will give you false
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of B: False

In [ ]:
#empty string to integer | will give you error
A = " "
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)   #integer
print(f"data type after: {type(A)}, value of B: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ' '

#Memory Block

In [ ]:
a = 22
b = 34
c= 22

In [ ]:
id(a) #id means it will tell you the memory location/adress

10751528

In [ ]:
id(b)

10751912

In [ ]:
id(c)

10751528

In [ ]:
c = 22 + b

## Memory  is assigned to the value of variable passed not the variable name.

In [ ]:
a = 22
b = 34
c = 22

print(id(a), id(b), id(c))

10751528 10751912 10751528

In [ ]:
a = "Suleman"

print(id(a))

132122423093488

In [ ]:
a = 44.5

print(id(a))

132122425356176

#Operators

## Operators are functions in python

 a+b ---> __add__(a,b) //this is a function used using operators

 various operators in python (in alphabetical order)

 Adittion  =  a+b

 concatenation  =  a+b

 containment test =    a in obj

 Division(True Division) =   a/b

 Division (Floor Division) = a//b

 Bitwise AND = a & b

 Bitwise Exlusive Or  = A ^ B

 Bitwise NOT = ~a

 Bitwise OR = a|a

 Exponentiation = a**b

 Identity = a is b

 Identity = a is not b

 Indexed Assignment  = obj [ i ] = a

 Indexed Deletion = del Obj [ i ]

 Indexing = obj [ i ]

Left Shift = a << b

Right Shift = a >> b

Logical AND  = a and b

Logical OR = a or b

Modulo = a % b

Multiplication or Repetition = a * b

Negation  = -a

Negation Logical = not  a

Positive = +a

Slice Assignment = s[i : j] = values

Slice Dletion = dd  s[i : j]

String formating = s % s1

Subtraction = a - b

Ordering (less than )  a < b

Ordering  (Greater than)  a > b

Ordering  ( less than or eqaul) a < = b

Ordering  (  greater tha nor equal to ) a > = b

equality = a == b

not equal = a!= b

OPERATORS Continue:

# Arthimatic Operators: **, / , // , * , % , + , -

In [ ]:
#Power Operator:

#2**3 = 2^3 = 2*2*2 = 8

2*3
2**5
-2**2   #-(2)^2 = -4 // (-2)^2 = 4
2**0.5
2**-2   #will become resiprocol // 2^-2 = 1/2^2 = 1/4 = 0.25
2**100  #its very powerfull operator that is generating very big value

#Multiplication Operator:

5*6
0.5*7
-5*6

#Divide Operators: // , / but both are different

#in C language we are doing 5/2 ans will be = 2 because both are integer values

#but in python if we do 5/2 its result will as per math rule 5/2 = 2.5
#10/5 = 2.0
#divide operator result will always a float type value

# // floor division Operator:

#what is floor value?
#2.3 has big integer 3 and small is 2
#so floor vlaue is here 2

# 2.3 is not an integer value
#floor means fersh
# 2.3 = 2 , 2.9 = 2 , 2.1 = 2 , 2.0 = 2 , 7.3 = 7 // will give nearest
# smallest integer that is 7

5//2 # = 2.5 but floor value is 2

15//4

15//4.0 #will ans float value but value always floor



# % Modolo Operator:
# will five us remender value

11%3 #remender value is 2
5%2  #remender value is 1

17%5

3%4 # ans will 3 becoz 4 is dividing by 3

#and remember the rule if the small number is at left then using modolo operator
# ans will be small number that is 3

33%50

50%33

# x % y = 0
# its means x is completely divisible by y

# x/5 = 2.0 // this result when x has 10 value
#243/10 = 24.3

#x//10 x without last didgit when we divided by 10 using //
#243//10 = 24

# x%10 = will give last digit
# 243%10 = 3

25%5

5.5 % 3

print(5.5 % 1.5 ) # 3 times go to 4.5 ans is 1.0

1.0

#Arthimatic Operators Summary

1. / always return floot value

2. // always return floor value, int type or floot type depending on operands / values

3. +, * can be used with str type value also

4. "ab+AB" = 'abAB' // will concatenate

5. 4*5 = 20

6. 2*"abc" = 'abcabc' now it is a repetition operator

7. plus + is addition operator when operands are numbers (int, floot , complex , bool)

8. plus + operator is concatenation operator when operands are str

9. plus + is invalid when applied between a number ans a string.

10. Mul * operator is used to multiply two numbers

11. Mul * is repetiton operator when applied B/W a str and an int

# Relational Operators: > , < , >= , <= , == , !=

###  >,<,>=  
these are inequality operators

### ==,!=   
these are equality operators and never give error

In [ ]:
5 > 6

4 < 1

5 >= 5

3 <= 3

"ABC" > "DEF" # strings are also compare

#==,!= equality operators

0 == 3 # False

4!= 3  # true yes 4 is not equal to 3

3+4j == 5+6j #equality operators work with complex values

5!="5" #True because type is not same

True

# Relational Operators Summary:

1. always give result in True or False

2. when truth valus is converted to int, it becomes 1 for True and 0 for false.

3. relational operators can also be used to compare two strings.

4. only == and != operators can be used B/w Two complex type values.

5. == and != never yield error

# Logical Operators: not , and , or

##logical operators are must be written in lowercase only

###not
not True ---> False

not False ---> True

###and

True and True ---> True

True and False ---> False

False and * ---> Flase


###or

false or False ---> False

False or True ---> True

True or * ---> True

In [ ]:
#not
not 5>-1

not "Education" #every not empty string is true

not 5

not 0 #True 0 means false


#or

3 > 4 or 5 > 0 #True


#and

5 > 6 and 3 > 1 #False only first condition will check here and stop/false


3 and 4 #both are non bool 4 is ans //becoz result is depend on 4

0 and 5 #result is false

5 or 6 #5 is ans becoz it is true

0 or 4 #4 is true ans ans is 4

"suleman" or "usman" #first is true

"Ayesha" and "Seerat" #2nd is true

'Seerat'

#Logiacal Operators Summary:

every non zero vale ---> True

Zero ---> False

non empty string ---> True

Empty strign ---> False


##when operands are non-bool then result will also be non-bool

# Bitwise Operators:  &, | , ^ , ~ , >> , <<

1. These will work on bits 0 and 1


 # &

0 & 0 = 0

0 & 1 = 0

1 & 0 = 0

1 & 1 = 1

## 25 & 37

25 = 011001

37 = 100101

final binary form of above two = 000001 and now result is 1









# |


## 44 | 71

 44 = 0101100

 71 = 1000111


final binary form of above two = 110111 and now result is 111



0 | 0 = 0

0 | 1 = 1

a | 0 = 1

1 | 1 = 1

In [ ]:
44 | 71

25 & 37

1

 # ^ XOR

 0 ^ 0 = 0

 0 ^ 1 = 1

 1 ^ 0 = 1

 1 ^ 1 = 0


 ## 56 ^ 29

 56 = 111000

 20 = 011101

 final binary = 100101 result = 37

In [ ]:
56 ^ 29

37

# Not Operataor ~

1. ~0 --> 1

2. ~1 --> 0

example:

5 ---> make binary of 5

~5 here binary of five will again change into 0 into 1 and 1 into 0


5 = 00000101

~5 = 11111010 // will be a negative number

##2's complement = 00000110 = 6

## = -k = -6 final result


 0 is a +ve bit at most left

 1 is a -ve bit at most left

In [ ]:
x = ~5
x

-6

#Shift and unshift operators

## >> (right shift)

35 >> 2

35 =  00100011

        1000= 8 two times right shift apply

        we remove 2 bits from at at most right side.
    

## << (left shift)

12 << 3

12 = 1100

       we added three 0 in a right
       side because we are moving towards left side three times.

new binary form will be 1100000

      so 1100000 result into 96 .

In [ ]:
35 >> 2

12 << 3

96

# Assignment Operators: = , += , -= , /= , %= , ** =

### = assignment operator

x = 4

at left side must be a variable

3 = 4 //error

x = x + 5

here 1st x is a container and 2nd x is a content.

In [ ]:
x = 6

x +=6 # x = x + 5

print(x) #result is 12

y = 6

y =-4 # y = y - 4

print(y)

z = 4

z *=3 # z = z * 3

print(z)


a = 2

a^= 2 # a = a ^ 2

print(a)


d = 10

d /= 2

print(d)



e = 10

e //= 2

print(e)


f = 4

f %= 2

print(f)


g = 3

g **=3

print(g)

12
-4
12
0
5.0
5
0
27

### How to assign values to multiple variables in a single line ?

1. x =, y = 5 , z = 6 // error

2. x,y,z = 2,3 // also error

3. x,y,z = 4,5,6  //correct only 1 time asignment

In [ ]:
x=4 , y=5 ,z=6 #error

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-76-5da5dad15d9b>, line 1)

In [ ]:
x,y,z = 4, 5, 7

print(x,y,z)

4 5 7

# Identity Operator

1. is

2. is not

###  It checks whether the two refrences refrencing to the same object or no ?

### it results in True or False.

x = 5

y = 5

both are refrencing to the same object/memory location where 5 is store in a memoray.

and the refrence count value will be 2.

In [ ]:
x = 5

y = 5

"""print(id(x))

print (id(y)) """

x is y #True result

a = 5.5

b = 5.5

a is b #False result

#print(id(a))

#print(id(b))

False

# Membership Operators: in , not in

1. these operators are applicalbe only on containers(iterable).

2. They result True or False

3. container is a type which can contain multiple values and also iterable.

4. container has many types of variables/values/elements

6. if these elements are accessible one by one from a container then it is called a iterable container/box.

7. int , float , complex , bool , are not iterable.

8. str, range , list , tuple , set, dict , are iterable.

In [ ]:
x = 456 # error becoz x is int type just one number

6 in x

TypeError: argument of type 'int' is not iterable

In [ ]:
x = "Muhammad Suleman Rajpoot"

'Suleman' in x #true

y = "python course "

'P' in y #true

'py' not in y # false

False

Note : no  ++ , -- operators in python